/Releases
/.vs
/ASA_Save_Inspector/bin
/ASA_Save_Inspector/obj
/ASA_Save_Inspector_Setup_x86/Debug
/ASA_Save_Inspector_Setup_x86/Release
/ASA_Save_Inspector_Setup_x64/Debug
/ASA_Save_Inspector_Setup_x64/Release
ASI_cert_step1_create_cert.ps1
ASI_cert_step2_convert_to_pfx.ps1
ASI_cert_step3_sign_app_x64.ps1
ASI_cert_step3_sign_app_x86.ps1
ASI_cert_step3_sign_msi_x64.ps1
ASI_cert_step3_sign_msi_x86.ps1
ASI_certificate.pfx
ASI_certificate.txt
ASA_Save_Inspector/ASA_Save_Inspector.csproj.user
*.pubxml.user
UpgradeLog.htm
/ASA_Save_Inspector_ObjectModel
/json2csharp
/ObjectModel
ASI_ObjectModel.sln
